fastapi==0.110.0
uvicorn==0.29.0
python-dotenv==1.0.1

# SQLAlchemy + MySQL
SQLAlchemy==2.0.25
pymysql==1.1.0
alembic==1.13.1

# Seguridad / Auth
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2

# Pydantic
pydantic==2.6.1
pydantic-settings==2.2.1

# Utils
python-multipart==0.0.9

# Tests
pytest==8.0.2
pytest-asyncio==0.23.5
httpx==0.27.0
email-validator>=2.1.0
